<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= I18n.locale == 'en' ? pluralize(@user.errors.count, t(:error)) : "#{@user.errors.count} #{t(:error)}" %> 
        <%= t(:errors_title_user) %>:</h2>
    <p><%= t(:errors_with_fields) %>:</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
