<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<% if !signed_in? %>
  <%= link_to t('link_signup'), signup_path, :class => "signup_button round" %>
<% end %>
