<footer>
  <nav class="round">
    <ul>
      <li><%= link_to t('link_about'), about_path %></li>
      <li><%= link_to t('link_contact'), contact_path %></li>
      <li><a href="http://forum.de.kapihospital.com">Forum</a></li>
      <li><a href="http://de.kapihospital.com">KapiHospital</a></li>
    </ul>
  </nav>
</footer>
