<ul class="nav secondary-nav">
  <li><%= link_to t('link_signup'), signup_path %></li>
</ul>
<ul class="nav secondary-nav">
  <li class="topbar-text"><%= t('link_or') %></li>
</ul>
<form action="" class="pull-right">
  <input class="input-small" type="text" placeholder="Username">
  <input class="input-small" type="password" placeholder="Password">
  <button class="btn" type="submit"><%= t(:link_signin) %></button>
</form>
